<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/tx 
                        http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!--   继承AbstractRoutingDataSource进行多数据源的扩展   -->
    <bean id="multipleDataSource" class="com.chenlx.sm.demo.core.MultipleDataSource">
        <property name="defaultTargetDataSource" ref="master-dataSource"/>
        <property name="targetDataSources">
            <map>
                <entry key="master-dataSource" value-ref="master-dataSource"/>
                <entry key="slave-dataSource" value-ref="slave-dataSource"/>
            </map>
        </property>
    </bean>
	
	<!--配置SqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="multipleDataSource"></property>
		<!--扫描sql配置文件 -->
		<property name="mapperLocations" value="classpath*:com/chenlx/sm/demo/**/*.xml"></property>
		<!-- 需mybatis-spring 版本1.3.0 -->
		<property name="configuration">
			<bean class="org.apache.ibatis.session.Configuration">
				<!-- 开启驼峰命名转换 -->
				<property name="mapUnderscoreToCamelCase" value="true" />
			</bean>
		</property>
	</bean>

	<!-- 扫包 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.chenlx.sm.demo.apply.expressno.dao" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="multipleDataSource"></property>
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
</beans>